/* Included an import link for font from google */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

/* Changed font to one style (Josefin Sans - Italic) with sans-serfi as back up. */
body {
    background-color: #344a72;
    font-family: 'Josefin-Sans', 'sans-serif';
    font-style: italic;
    color: ivory; 
}

.signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

h1 {
    color: ivory;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
}

h4 {
    color: ivory;
    text-align: center;
}

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 15px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}

p {
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
}

.para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -5px;
}

.para-2 a {
    color: #49c1a2;
}

.login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
}


/* ####################### Home.html styles ######################### */

/* Logo & Nav Bar */

#logo {
    height: 100px;
    letter-spacing: 8px;
    border-bottom: white solid 4px;
    font-size: 270%;
    word-spacing: 20px;
}

#menu {
    font-size: 150%;
}

#menu li {
    list-style-type: none;
    float: left;
    margin-left: 300px;
    padding-left: 30px; 
    text-align: center;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: black 2px solid;
    border-top: black 2px solid;
}

.active {
    color: ivory;
    border-bottom: ivory 2px solid;
}

/* Nav bar font color to be changed to similar ivory. */
.navbarClass {
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #10770C;
    padding: 10px 30px;
}

.navbarLinks {
    display: flex;
    align-items: center;
}

.navbarLinks>div {
    margin: 0 6px;
}


.homeBodyInfoContr {
    height: 100vh;
    text-align: center;
}


.subHeadingText {
    color: #919191;
    background-color: pink;
}

.homeFooterContr {
    background-color: black;
    color: white;
}

.footerInfoContr { 
    background-color: none;
    height: 307px;
    width: 70%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-right: 200px;

    font-size: 100%;
    list-style-type: none;
    
}

/* trying to seperate the 3 coloumns in the footer by adding a class to the 3 column divs.  */

.footer-column {
    width: fit-content;
    display: flex;
    padding-right: 30%;
    padding-left: 90px;
    
}

/* Main Image for Home screen */

#pool-image {
    height: 500px;
    width: 100%;
    background: url('../images/pool.jpg') no-repeat center; 
    /* I can't fit the image correctly. Should i use another image or is there a way to reduce size? 
    ** I've now changed the picture to a free one online from 'Free images' this is now too small but way better quality. */
}

/* Section below main image ref; reasons to stay */

#why-stay-section {
    height: 800px;
}

#why-stay-section h2 {
    font-size: 200%;
    text-align: center;

    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: rgb(240, 255, 241) solid 5px;
}

#why-stay-section h5 {
    font-size: 120%;
    text-align: center;

    padding-left: 200px;
    padding-right:200px;
}

/* Accommodation Pictures */

/* 3 image containers at 33.33% each */
.column {
    float: left;
    width: 30%;
    padding: 5px;
}
/* clear floats after image containers */

.row::after {
    content: "";
    clear: both;
    display: table;
}

#bedroom-img {
    height: 350px;
    width: 100%;
    background: url('../images/bedroom.jpg');
}

#kitchen-img {
    height: 350px;
    width: 100%;
    background: url('../images/kitchen.jpg');
}
#lounge-img {
    height: 350px;
    width: 100%;
    background: url('../images/lounge.jpg');
}

