/* Included an import link for font from google */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

/* Changed font to one style (Josefin Sans - Italic) with sans-serfi as back up. */
body {
    background-color: #344a72;
    font-family: 'Josefin-Sans', 'sans-serif';
    font-style: italic;
    color: ivory;
}

h1 {
    color: ivory;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
}

h4 {
    color: ivory;
    text-align: center;
}


/* Sign up/ Log out page */

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 15px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    font-size: 18px;
}

p {
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
}

.para-2 {
    text-align: center;
    color: #344a72;
    font-size: 15px;
    margin-top: -5px;
}

.para-2 a {
    color: #49c1a2;
}

.signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    color: black;
    background-color: white;
    border-radius: 3px;
}

.login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    color: black;
    background-color: whitesmoke;
}


/* ####################### Home.html styles ######################### */

/* Logo & Nav Bar */

#logo {
    height: 100px;
    letter-spacing: 8px;
    border-bottom: white solid 4px;
    font-size: 270%;
    word-spacing: 20px;
}

#menu {
    font-size: 150%;
}

#menu li {
    list-style-type: none;
    float: left;
    margin-left: 300px;
    padding-left: 30px;
    text-align: center;
    /* color: ivory; */
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: ivory 2px solid;
    border-top: ivory 2px solid;
}

.active {
    color: ivory;
    border-bottom: ivory 2px solid;
}

/* Nav bar font color to be changed to similar ivory. */

.navbar-div {
    height: 230px;
    border-bottom: white 2px solid;
}

.navbarClass {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*  background-color: #10770C; */
    /*     padding: 10px 30px;*/    
    border-bottom: 100px;
}

.navbarLinks {
    display: flex;
    align-items: center;
}

.navbarLinks > div {
    color: ivory;
}

.navbarLinks a{
    color: ivory;
}


.homeBodyInfoContr {
    height: 100vh;
    text-align: center;
}


.subHeadingText {
    color: #919191;
    background-color: pink;
}

.homeFooterContr {
    background-color: black;
    color: white;
}

.footerInfoContr {
    background-color: none;
    height: 307px;
    width: 70%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-right: 200px;

    font-size: 100%;
    list-style-type: none;

}

/* trying to seperate the 3 coloumns in the footer by adding a class to the 3 column divs.  */

.footer-column {
    width: fit-content;
    display: flex;
    padding-right: 30%;
    padding-left: 90px;

}

/* Main Image for Home screen */

.pool-image {
    height: 500px;
    width: 100%;
    background: url('../images/pool.jpg') no-repeat center;
    /* I can't fit the image correctly. Should i use another image or is there a way to reduce size? 
    ** I've now changed the picture to a free one online from 'Free images' this is now too small but way better quality. */
}

.pool-2-image {
    height: 500px;
    width: 100%;
    background: url('../images/pool2.webp') no-repeat center;
}

/* 2 image containers at 45% each */
.top-column {
    float: left;
    width: 45%;
    padding: 5px;
}

/* clear floats after image containers */

.top-row::after {
    content: "";
    clear: both;
    display: table;
    /* margin-top: 300px; */
}

/* Section below main image ref; reasons to stay */

#why-stay-section {
    height: 800px;
}

#why-stay-section h2 {
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;

    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: rgb(240, 255, 241) solid 5px;
}

#why-stay-section h5 {
    font-size: 120%;
    text-align: center;

    padding-left: 200px;
    padding-right: 200px;
}

/* Accommodation Pictures */

/* 3 image containers at 33.33% each */
.column {
    float: left;
    width: 30%;
    padding: 5px;
}

/* clear floats after image containers */

.row::after {
    content: "";
    clear: both;
    display: table;
}

#bedroom-img {
    height: 350px;
    width: 100%;
    background: url('../images/bedroom.jpg');
}

#kitchen-img {
    height: 350px;
    width: 100%;
    background: url('../images/kitchen.jpg');
}

#lounge-img {
    height: 350px;
    width: 100%;
    background: url('../images/lounge.jpg');
}

/* Bookings page */

.bookings-section {
    height: 700px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#beach-img {
    height: 500px;
    width: 100%;
    background: url('../images/beach.jpg') no-repeat center;
}

#bookings-h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 200%;
}

#bookings-h5 {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 130%;
    margin-bottom: 50px;

}

.page-2-lower-section {
    height: 400px;
    width: 100%;
    background-color: orange;
}

/* Will delete .footer-page-2 and use class s-m-links to format footer on bookings page */

/* .footer-page-2 {
    height: 300px;
    border-top: white 2px solid;
} */


/* Sign Up page */

.signup-section { /* This worked to increase space between footer border and sign up section */
    margin-bottom: 200px;
}

.s-m-links {
    text-align: center;
    list-style-type: none;
    height: 100px;
}

.s-m-links > li {
    display: inline;
}

.s-m-links i {
    font-size: 200%;
    color: ivory;
    /* padding: 5%; */
    padding-left: 7%;
    padding-right: 7%;
    margin: 1%;
}

/* .policy-links {
    text-align: center;
    list-style-type: none;
}

.policy-links > li {
    display: inline;
}

.policy-ul-links {
    font-size: 120%;
    color: ivory;
    padding: 10%;
    margin: 10px;
} */
